@charset "ISO-8859-1";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
}
  
  body {
  background: #fff;
  color: #666666;
  font-family: "Open Sans", sans-serif;
}
#cabecera {
    margin: 10px 0;
}

#seccion {
    margin: 10px 0;
}

#navbar a {
    display: block;
    text-align: left;
    padding: 10px;
    transition: all 0.3s ease;
    color: black;
    font-size: 20px;
    background: gainsboro;
    padding-left: 20px;
}

#navbar a:hover {
    background-color: green;
}

#navbar a.active {
    background-color: green;
}

#farmCruz {
    width: 500px;
    height: 320px;
}

footer p {
	
	background-color: white;
	color: black;
	font-family:verdana; 
	font-size:200%;                
}


.redes {
    line-height: 60px;
}